@model WebHM.Models.DonHang

@{
    ViewData["Title"] = "Details";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else if (User.IsInRole("Seller"))
    {
        Layout = "~/Views/Shared/_SellerLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h1>Details</h1>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChiGiaoHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDienThoaiGiaoHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoaiGiaoHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayDatHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDatHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhachHang.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaDonHang">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
