@model WebHM.Models.ThanhToan

@{
    ViewData["Title"] = "Details";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h1>Details</h1>

<div>
    <h4>ThanhToan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayThanhToan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayThanhToan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhuongThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhuongThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonHang.MaDonHang)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaThanhToan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
